body {
    background-color: rgb(98, 218, 192);
}
footer {
    background-color: black;
    color: rgb(140, 211, 211);font-family:'Times New Roman', Times, serif;
}
footer {
    background-color: black;
    color: hsl(140, 211, 211);
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem;
}

